.profile__column {
    display: flex;
    flex-direction: row;
    vertical-align: top;
  }
  
  @media screen and (max-width: 650px) {
    .profile__column {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  