.profile__add-icon {
    object-fit: cover;
    min-width: 22px;
    min-height: 22px;
    margin: auto;
  }
  
  @media screen and (max-width: 650px) {
    .profile__add-icon {
      min-width: 16px;
      min-height: 16px;
    }
  }
  